

 *{
        box-sizing: border-box;
    }


div.head {
    
 background-color: rgb(1, 33, 64);
text-transform: uppercase;
text-shadow: 1px 2px 1px black;

}
div input{

background-color: rgb(224, 211, 211);

}


div textarea{
    text-transform: capitalize;
    font-style: oblique;
    border-radius: 3mm;
    border-color: crimson;
}
form{
    opacity: 5;
}


b{
text-transform: capitalize;

}
h1 i:hover{
    color: rgb(40, 7, 158);
}
select{

    color: rgb(0, 0, 0);
    background-color: rgb(144, 136, 136);

}
input.hi:hover{
background-color: rgb(3, 73, 52);
border-radius: 4px;
align-items: center;


}

input.hi{
align-items: center;
border-radius: 4px;

}
body{
    background: opacity 0.3em;
}
.form{

background-color: rgb(185, 195, 192);

border: 2px solid lightgray;
border-radius: 8px;
margin: 30px;
padding: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
font-size: medium;
}
input[type="text"],
input[type="password"],
input[type="pincode"],
input[type="number"],input[type="date"],
input[type="email"],select,
input[type="submit"]{
   width:100%;
    border: 1px solid #e5dbe7;
    border-radius: 6px;
     margin-right: 50px;
    padding: 6px;

}
textarea{

width: 100%;

}
fieldset{

border-radius: 6px;
border-color: lightgray;


}
